img {
    width: 300px;
    height: 200px;
}

.movie-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 5px;
}

.card {
    width: auto;
    margin-left: 20px;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.movie-poster {
    width: 300px;
    height: 200px;
    object-fit: contain
}

.header {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}